
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(15, 104, 104);
    color: #feebe7;
    /* position: fixed; */
    z-index: 2;
}

.logoImg{
    width: 100px;
    padding-left: 40px;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-right: 40px;
}

.navbar a{
    color: #feebe7;
    font-weight: bold;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    /* img and text both section */
    /* margin: 20px */
}
.heroImg{
    /* img and text both section */
    /* width: 50%;
    height: 80vh; */
    /* only image section */
    width: 100%;
    height: 100vh;
}

.hero p{
    text-align: center;
    margin-top: 250px;
}

/* Products Page Style */
.mainHeading{
    text-align: center;
    color: rgb(15, 104, 104);
    padding-top: 20px;
}

.cardMainContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.cardContainer{
    width: 300px;
    background-color: #feebe7;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 5px 8px rgb(15, 104, 104);
}

.cardContainer:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.05);
}

.jewImg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.heading{
    padding: 5px;
    font-weight: bold;
    color: rgb(15, 104, 104);
}
.price{
    font-weight: 500;
    color: #cb8a1b;
    padding: 10px;
}

.btnContainer{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.btn{
    background-color: rgb(15, 104, 104);
    border: none;
    outline: none;
    color: #feebe7;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(34, 132, 132);
    transition: all 0.2s ease-in;
}

/* Footer Style */

.footerContainer{
    width: 100%;
    height: 30vh;
    padding: 20px;
    background-color: rgb(15, 104, 104);
    margin-top: 50px;
}

.paraContainer{
    margin-top: 50px;
}
.footerPara{
    text-align: center;
    color: #feebe7;
    font-size: 1.2rem;
}